<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="main">
       <div class="left-side">
      <h1><%= title %></h1>
      <h2>Horses</h2>
      <%- include('../navigation.ejs', { breeds }) %>
    </div>
    <div class="right-side"> 
          <a href="/">Cancel</a>
    <form method="POST" action="<%= horse ? `/horse/${horse.id}/edit` : '/horse/add' %>">
      <h2>Horse Form</h2>
      <div class="form-input">
        <label for="name">Name (2 to 15 characters):</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          minlength="2"
          maxlength="15"
          value="<%= horse ? horse.name : '' %>"
        />
      </div>

   <div class="form-input">
    <label for="breed_id">Choose the breed:</label>
    <select name="breed_id" id="breed_id" required>
      <option value="">Select a breed</option>
      <% breeds.forEach((breed) => { %>
        <option value="<%= breed.id %>" <%= horse && horse.breed_id == breed.id ? 'selected' : '' %>>
          <%= breed.name %>
        </option>
      <% }); %>
    </select>
  </div>

      <div class="form-input">
        <label for="age">Enter age:</label>
        <input type="number" id="age" name="age" required min="3" max="50"  value="<%= horse ? horse.age : '' %>" />
        
      </div>

      <div class="form-input">
    <label for="image_url">Enter URL for your image:</label>
    <input
      type="url"
      id="image_url"
      name="image_url"
      required
      value="<%= horse ? horse.image_url : '' %>"
    />
  </div>

      <input type="submit" value="<%= horse ? 'Confirm' : 'Add Horse' %>" />
    </form>
    </div>
    </div>
  </body>
</html>
