<div class="horse">
  <div>
    <%= horse.name %> — Breed: <%= horse.breed %> — Age: <%= horse.age %> —
    Rider: <%= horse.rider %>
  </div>
  <div class="image-container">
    <img src="<%= horse.image_url %>" alt="<%= horse.name %>" />
  </div>
<div class="action-container">
  <form action="/horse/<%= horse.id %>/edit" method="GET">
    <button type="submit">Edit Horse</button>
  </form>

  <% if (horse.admin_created) { %>
    <button
      class="delete-btn-admin"
      data-horse-id="<%= horse.id %>"
      data-horse-name="<%= horse.name %>"
    >
      Delete (Admin)
    </button>
  <% } else { %>
    <form
      action="/horse/<%= horse.id %>/delete"
      method="POST"
      onsubmit="return confirm('Delete this horse?')"
    >
      <button type="submit">Delete </button>
    </form>
  <% } %>
</div>
</div>