<div class="horse">
  <div>
    <%= horse.name %> — Breed: <%= horse.breed %> — Age: <%= horse.age %> — Rider: <%= horse.rider %>
  </div>
  <div class="image-container">
    <img src="<%= horse.image_url %>" alt="<%= horse.name %>" />
  </div>
  <div class="action-container">
      <form
      action="horse/<%= horse.id %>/edit"
      method="GET"
    >
      <button type="submit">Edit Horse</button>
    </form>
    <form
      action="horse/<%= horse.id %>/delete"
      method="GET"
      onsubmit="return confirm('Delete this horse?')"
    >
      <button type="submit">Delete Horse</button>
    </form>
  </div>
</div>
