<div class="horse">
  <div>
    <%= horse.name %> — Breed: <%= horse.breed %> — Age: <%= horse.age %> —
    Rider: <%= horse.rider %>
  </div>
  <div class="image-container">
    <img src="<%= horse.image_url %>" alt="<%= horse.name %>" />
  </div>
  <div class="action-container">
    <form method="GET">
      <button type="submit">Edit Horse</button>
    </form>
    <button
      class="delete-btn"
      data-horse-id="<%= horse.id %>"
      data-horse-name="<%= horse.name %>"
    >
      Delete Horse
    </button>
  </div>
</div>