<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Horses</h2>
    <%- include('filters/breeds.ejs', { breeds }) %>
     <%- include('filters/riders.ejs', { riders }) %>
    <div>
      <button><a href="/horse/add">Add a new horse</a></button>
    </div>
    <div class="horses-container">
      <% horses.forEach((horse) => { %> <%- include('horses/horse', { horse:
      horse}) %> <% }); %>
    </div>
        <%- include('horses/delete-dialog.ejs') %>
        <%- include('horses/edit-dialog.ejs') %>
  </body>
</html>
