<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="left-side">
      <h1>Perfect Stable</h1>
      <h2>Horses</h2>
      <%- include('navigation.ejs', { breeds }) %>
    </div>

    <div class="right-side">
      <% if (breed) { %>
          <%- include('breeds/filtered.ejs', { breed }) %>
      <% } %>
    <div>
        <a href="/horse/add">Add new horse</a>
        <a href="/">Homepage</a>

        <% if (horses && horses.length > 0) { %>
          <div class="horses-container">
            <% horses.forEach((horse) => { %>
              <%- include('horses/horse', { horse: horse }) %>
            <% }); %>
          </div>
          <% } else { %>
              <div>No horses found</div>
          <% } %>
        </div>
    <%- include('horses/delete-dialog.ejs') %> <%-
    include('horses/edit-dialog.ejs') %>
  </body>
</html>
