<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="left-side">
      <h1><%= title %></h1>
      <h2>Horses</h2>
      <%- include('navigation.ejs', { breeds, riders}) %>
    </div>

    <div class="right-side">
      <div>
        <button><a href="/horse/add">Add a new horse</a></button>
      </div>
      <div class="horses-container">
        <% horses.forEach((horse) => { %> <%- include('horses/horse', { horse:
        horse}) %> <% }); %>
      </div>
    </div>
    <%- include('horses/delete-dialog.ejs') %> <%-
    include('horses/edit-dialog.ejs') %>
  </body>
</html>
